/* import Open Sans Semi-Bold 600 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
/* dotted line on left of comments to make nesting level clearer */
.comment-section:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    border-left: 1px dotted #ccc;
    top: 0px;
    left: -30px;
}
/* darker, slightly larger comment text, title */
.comment-text > p, .comment-text > .comment-title {
    color: #101017;
    font-size: 1.1em;
}
/* unbold parent comment author username */
.parent-author {
    font-weight: normal !important;
}
/* semi-bold comment author username */
.author-name {
    font-weight: 600;
}
/* add space between comment timestamp and actions */
.comment .meta .actions {
    margin-left: 5px;
}
/* add space between each comment action */
.actions > * {
    padding-right: 13px;
}
/* increase font size, decrease font weight of post titles in right-hand bar on main page */
.more-stories-sidebar a.story-summary,
.explore-content a.store-summary {
    font-weight: 600 !important;
    font-size: 14px !important;
}